<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Tasks</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" 
            rel="stylesheet" 
            integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" 
            crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <!--<a class="navbar-brand" href="#">Navbar</a>-->
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active" aria-current="page" href="/home">All Tasks</a>
              <a class="nav-link" href="/new">New Task</a>
            </div>
          </div>
        </div>
      </nav>
      <div class="text-center">
        <h1 class="mx-1 d-inline fs-1">ToDo List</h1>
        <a href="/new" class="">
          <button type="button" class="btn btn-dark float-end">New Task</button>
        </a>
      </div>
    
    <ul class="list-group">
        <% for (let task of tasks){ %>
            <li class="list-group-item mx-1"><%= task.title %>
                <form action="/delete/tasks/<%= task._id %>?_method=DELETE" method="POST" class="float-end">
                  <button type="submit" class="btn-close"></button>
                </form>
                <!-- Button trigger modal -->

                <button type="button" class="btn btn-info d-inline float-end mx-1" data-bs-toggle="modal" data-bs-target="#exampleModal<%= task._id %>">Info</button>
                <form action="/edit/<%= task._id %>" method="GET" class="d-inline"><button type="submit" class="btn btn-danger d-inline float-end mx-1">Edit</button></form>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal<%= task._id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel"><%= task.title %></h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <%= task.description %>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                      </div>
                    </div>
                  </div>
                </div>
            </li>
       <% } %>
    </ul>
      
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" 
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" 
            crossorigin="anonymous"></script>
</body>
</html>